/* -------------- IMAGES */

.top-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url("../images/logo.jpg");
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }
  
/* -------------- NAVBAR */

.top-navbar {
    overflow: hidden;
    background-color: rgb(92, 161, 230, 0.6);
    position: sticky;
    position: -webkit-sticky;
}

.top-navbar a {
    float: left;
    display: block;
    text-align: center;
    color: black;
    padding: 14px 16px;
    font-size: 20px;
    text-decoration: none;
}

.top-navbar .icon {
    display: none;
}

.top-navbar a:hover {
    background-color: rgba(38, 76, 146, 0.5);
    color: black;
}

@media screen and (max-width: 600px) {
    .top-navbar a:not(:first-child) {
        display: none;
    }
    .top-navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .top-navbar.responsive {position: relative;}
    .top-navbar.resopnsive.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .top-navbar.responsive a{
        float: none;
        display: block;
        text-align: left;
    }
}