/* -------------- BODY */
/* ======================================== */

body {
    margin: 0;
}

p {
    font-size: larger;
}

/* -------------- TEXT */
/* ======================================== */

.right {
    text-align: right;
}

@media screen and (max-width: 600px) {
    .col {
        display: block
    }
}

/* -------------- IMAGES */
/* ======================================== */

/* FULL WIDTH SCREEN */
.large-img {
    width: 100%;
    height: auto;
}

.logo-title {
    height: 50px;
    width: auto;
}

.tall {
    height: 100%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}

/* TOP PICTURE */

.top-image {
    background-image: url('../images/Logo\ 2.png');
    /* background-color: rgba(1, 31, 75, 0.7); */
    background-color: rgba(241, 242, 246, 0.9);
    height: 120px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

/* -------------- COLORS */
/* ======================================== */

.ligth-blue {
    background-color: #7ed6df;
}

.darkblue {
    color: #3c6382;
}

/* -------------- HEAD TITTLE */
/* ======================================== */

.head-title {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: 50px;
    text-align: center;
    padding: 10px;
    color:  rgb(1, 31, 75, 0.6);
    /* background-color: rgba(1, 31, 75, 0.6); */
}

.head-title a:hover {
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .head-title {
        font-size: 35px;
    }
}

/* -------------- FOOTER */
/* ======================================== */

.footer {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    /* font-size: 50px; */
    text-align: center;
    padding: 10px;
    color: rgb(231, 239, 246);
    /* background-color: rgba(1, 31, 75, 0.7); */
    background-color: #3c6382;
    bottom: 0;
    display: inline-block;
}

@media screen and (max-width: 600px) {
    .footer {
    }
}

/* -------------- NAVBAR */
/* ======================================== */

.top-navbar {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    /* background-color: rgba(1, 31, 75, 0.7); */
    background-color: rgba(241, 242, 246, 0.9);
    align-items: center;
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
    top:0;
    z-index: 1;
}

.top-navbar a {
    display: inline-block;
    text-align: center;
    /* color: rgb(231, 239, 246); */
    color: black;
    padding: 18px 20px;
    font-size: 20px;
    text-decoration: none;
}

.top-navbar .icon {
    display: none;
}

.top-navbar a:hover {
    /* background-color: #555; */
    background-color: #7ed6df;
    color: rgba(245, 246, 250);
}
.navbar-responsive span {
    display: none;
}

.top-navbar .closebtn {
    display: none
}

.flags {
    height: 16px;
    width: 18px;
}

@media screen and (max-width: 600px) {

    .top-navbar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgb(0,0,0,0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }

    .navbar-responsive span {
        display: inline-block;
        width: 100%;
        /* background-color: rgba(1, 31, 75, 0.7); */
        background-color: rgba(241, 242, 246, 0.7);
        padding: 14px;
        right: 0;
    }

    .navbar-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .top-navbar a {
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .top-navbar a:hover, .top-navbar a:focus {
        color: #f1f1f1
    }    

    .top-navbar .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }

    .top-navbar .closebtn {
        display: block;
    }
}

/* -------------- SLIDESHOW */
/* ======================================== */

.slideshow {
    display: none;
}

.slideshow-container {
    height: auto;
    position: relative;
    margin: auto;
}

.slide-img {
    width: 100%;
    height: auto;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}